@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --light-color: whitesmoke;
  --dark-color: rgb(7, 6, 7);
  --pink-color:#ef81d0;
  --hover-color: #7f86e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container{
  /*border: 3px solid red;*/
  width: 80%; 
  margin: 0 auto; /* Margen automático en los lados, centrando horizontalmente */
  
}

h1, h2 {
  text-align: center;
  margin: 1.8rem 0 .8rem 0;
}

h3{
  margin: 2rem 0 .8rem 0;
}

h4{
  margin: 3rem 0 .5rem 0;
}

p{
  text-align: center;
  padding: 3rem 1rem;
  line-height: 1.4rem;
}
.indica{
  font-size: .8rem;
  color: var(--light-color);
  background-color: var(--hover-color);
  padding: .8rem;
}
.data-text{
  font-size: .8rem;
}

a{
  text-decoration: none;
  color: var(--pink-color);
  font-size: 2rem;
  font-weight: 900;
}
a:hover{
  text-decoration: none;
  color: var(--hover-color);
}

/*ELEMENTOS FORMULARIO*/
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:.4rem;
}
label{
  margin-top: .5rem;
}
input{
  line-height: 2rem;
  padding-left: .5rem;
  border-radius: 5px;
  border: 1px solid var(--dark-color);
}
input:focus{
  outline: 3px solid var(--hover-color);
}

/*DATA LISTS AND TABLES*/
li{
  list-style: none;
}
.cant-li {
  margin: 1rem;
  line-height: 2rem;
  text-align: right;
}

.txt-cant{
    font-weight: bold;
    color: var(--hover-color);
    font-size: 1.6em;
}

.txt-sal {
  text-align: center;
  margin: 1.4rem 0 1rem 0;
  font-size: 1.2em;
  color: var(--dark-color);
}

.message{
  color: rgb(198, 59, 59);
  margin: auto 0;
  padding-top:2rem;
  line-height: 2rem;
  font-weight: bold;
}

/*TABLE SHOW*/
table{
  width: 100%;
  height: 30%;
  text-align: center;
}
thead{
  background-color: var(--pink-color);
  font-size: .9rem;
}
tbody{
  line-height: .9rem;
}
td, th{
  padding: .5rem;
}


/* MENU SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(230, 222, 227, 0.31);
    backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease-in-out;
}

.sidebar:hover {
    width: 200px;
}

.sidebar .logo {
    color: var(--pink-color);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar .links {
    list-style: none;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li span {
    display: flex;
    align-items: center;
    padding: .8rem;
    font-size: 1.8rem;
    font-weight: bolder;
}
/*ESTILOS BOTON(ES)*/
button{
  width: 40%;
  margin: 0 auto;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  padding: .8rem;
  border: none;
  border-radius: 15px;
  background-color: var(--pink-color);
  color: var(--light-color);
}
button:hover{
  background-color: var(--hover-color);
  color: var(--light-color);
  cursor:pointer;
}